In [1]:
import pandas as pd 
import numpy as np
import sklearn

In [8]:
dataset = pd.read_csv('loans_full_schema.csv')


dataset = dataset.dropna()
dataset.head(5)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
37,supplies clerk,10.0,NJ,MORTGAGE,70000.0,Verified,17.06,105000.0,Verified,13.27,...,C4,Mar-2018,In Grace Period,whole,Cash,23455.27,1102.83,544.73,558.10,0.0
99,owner,10.0,MN,MORTGAGE,23000.0,Verified,49.58,98000.0,Verified,19.87,...,D4,Feb-2018,Current,whole,Cash,14395.45,1572.97,604.55,968.42,0.0
130,military officer captain,10.0,GA,RENT,145000.0,Verified,14.66,155000.0,Source Verified,14.98,...,A3,Feb-2018,Current,whole,Cash,35942.19,4890.01,4057.81,832.20,0.0
214,realtor / assistant,5.0,NJ,MORTGAGE,80000.0,Not Verified,18.39,125000.0,Not Verified,11.77,...,B1,Jan-2018,Current,whole,Cash,13068.02,1460.76,931.98,528.78,0.0
352,manager,10.0,TX,MORTGAGE,120000.0,Verified,7.81,198000.0,Verified,15.15,...,A4,Jan-2018,Current,whole,Cash,21847.54,3859.28,3152.46,706.82,0.0